.menu {
  background-color: #2c3e50;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Кнопки переносяться на наступний рядок за потреби */
}

.menu-logo {
  position: relative; /* У разі, якщо потрібен контроль за позиціонуванням */
  top: 0; /* Регулює вертикальне розташування */
  left: 0; /* Якщо потрібно вирівняти по горизонталі */
  width: 70px; /* Задайте ширину іконки, якщо потрібно */
  height: 70px; /* Задайте висоту іконки, якщо потрібно */
}
.menu nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* Перенесення кнопок на новий рядок */
  justify-content: flex-end; /* Вирівнювання кнопок праворуч */
  flex-grow: 1;
  margin-right: 2%; /* Відступ від кінця екрану (5%) */
}

.menu nav button {
  background-color: #34495e;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu nav button:hover {
  background-color: #16a085;
}

#root {
  margin-top: 60px; /* Висота навбару */
  padding: 2rem;
  text-align: center;
}
